In [1]:
import pandas as pd
from geopy.distance import geodesic
from datetime import datetime
import gmplot
import folium
import numpy as np
#import time

# 兩點距離求速度_1

In [3]:
gps_data_df=pd.read_excel(r'./user_gps_data1.xlsx',encoding='utf-16',index_col=0)

localFormat = "%Y-%m-%d %H:%M:%S"
gps_data_df['point_speed']=0
gps_data_df['point_distance']=0
for user in list(set(gps_data_df['user'])):
    for i in gps_data_df[gps_data_df['user']==user].index:
        if i < gps_data_df[gps_data_df['user']==user].index[-1]:
            deltatime=datetime.strptime(gps_data_df.loc[i+1,'time'],localFormat)-datetime.strptime(gps_data_df.loc[i,'time'],localFormat)
            minutesdelta=(deltatime.seconds)/60
            if minutesdelta<10:
                prev=gps_data_df.loc[i,['latitude','longitude']]
                post=gps_data_df.loc[i+1,['latitude','longitude']]
                if minutesdelta>0:
                    gps_data_df.loc[i+1,'point_speed']=((geodesic(prev,post).kilometers)/minutesdelta)*60
                gps_data_df.loc[i+1,'point_distance']=(geodesic(prev,post).kilometers)
    #print(prev,post)
gps_data_df.head()

,user,time,latitude,longitude,elevation,speed,source,horizontal_dilution,vertical_dilution,course,satellites,point_speed,point_distance
0,user1,2019-11-26 16:44:00,25.052852,121.607082,42.199997,NaN,network,NaN,NaN,NaN,NaN,0.000000,0.000000
1,user1,2019-11-26 16:44:34,25.052853,121.607081,42.199997,NaN,network,NaN,NaN,NaN,NaN,0.013911,0.000131
2,user1,2019-11-26 16:45:46,25.052889,121.607220,35.699997,NaN,network,NaN,NaN,NaN,NaN,0.730402,0.014608
3,user1,2019-11-26 16:46:48,25.052797,121.607039,NaN,NaN,network,NaN,NaN,NaN,NaN,1.216668,0.020954
4,user1,2019-11-26 16:47:58,25.052446,121.607163,24.500000,NaN,network,NaN,NaN,NaN,NaN,2.102851,0.040889

In [5]:
gps_data_df[['user','time','latitude','longitude','point_speed']].head()

    user                 time   latitude   longitude  point_speed
0  user1  2019-11-26 16:44:00  25.052852  121.607082     0.000000
1  user1  2019-11-26 16:44:34  25.052853  121.607081     0.013911
2  user1  2019-11-26 16:45:46  25.052889  121.607220     0.730402
3  user1  2019-11-26 16:46:48  25.052797  121.607039     1.216668
4  user1  2019-11-26 16:47:58  25.052446  121.607163     2.102851

# 求staypoint_2

In [12]:
#求staypoint
gps_data_df=pd.read_excel(r'./gps_data_pointspeed2.xlsx',encoding='utf-16',index_col=0)
#門檻值
#3km/hr 15mins or #1.5km/hr 15mins
speed_threshold=3
stay_point_user_list={}
gps_data_df['stay_point_lat']=0
gps_data_df['stay_point_long']=0
localFormat = "%Y-%m-%d %H:%M:%S"
for user in list(set(gps_data_df['user'])):    
    stay_point_coor_lat=[]
    stay_point_coor_lon=[]
    stay_time=0
    stay_point_list=[]
    stay_point_index=[]
    for i in gps_data_df[gps_data_df['user']==user].index[1:]:
                #if speed <3
                if gps_data_df.loc[i,'point_speed']<speed_threshold:
                    #設定每個點時間，加總每個點時間
                    #total_time+=time_delta
                    deltatime=datetime.strptime(gps_data_df.loc[i,'time'],localFormat)-datetime.strptime(gps_data_df.loc[i-1,'time'],localFormat)
                    minutesdelta=(deltatime.seconds)/60
                    if minutesdelta<15:
                        stay_time +=minutesdelta
                        #stay point.append(coord)
                        stay_point_coor_lat.append(gps_data_df.loc[i,'latitude'])
                        stay_point_coor_lon.append(gps_data_df.loc[i,'longitude'])
                        stay_point_index.append(i)
                    else:
                        if stay_point_coor_lat:
                            stay_point=(sum(stay_point_coor_lat)/len(stay_point_coor_lat),
                                        sum(stay_point_coor_lon)/len(stay_point_coor_lon))
                            gps_data_df.loc[stay_point_index,'stay_point_lat']=stay_point[0]
                            gps_data_df.loc[stay_point_index,'stay_point_long']=stay_point[1]
                        stay_point_list.append(stay_point)
                        stay_point_coor_lat=[]
                        stay_point_coor_lon=[]
                        stay_point_index=[]
                        stay_time=0
                        #stay point.append(coord)


                    #if total_time>10 minutes

                elif gps_data_df.loc[i,'point_speed'] > speed_threshold and stay_time>15:
                        stay_point=(sum(stay_point_coor_lat)/len(stay_point_coor_lat),
                                    sum(stay_point_coor_lon)/len(stay_point_coor_lon))
                        gps_data_df.loc[stay_point_index,'stay_point_lat']=stay_point[0]
                        gps_data_df.loc[stay_point_index,'stay_point_long']=stay_point[1]
                        stay_point_list.append(stay_point)
                        stay_point_coor_lat=[]
                        stay_point_coor_lon=[]
                        stay_point_index=[]
                        stay_time=0
                else:
                    stay_point_coor_lat=[]
                    stay_point_coor_lon=[]
                    stay_point_index=[]
                    stay_time=0
    stay_point_user_list[user]=stay_point_list
                
#print(stay_point_user_list)

In [13]:
gps_data_df.to_excel(r'./gps_data_staypoint.xlsx',encoding='utf-16')

# 每個位置合併成一個_3

In [14]:
#座標合併成1格 & 只取日期
stay_point_df=pd.read_excel(r'./gps_data_staypoint3.xlsx',encoding='utf-16',index_col=0)
subset = stay_point_df[['stay_point_lat','stay_point_long']]
subset
stay_point_df['date']=[x[:10] for x in stay_point_df['time'].values]
stay_point_df['stay_point_coord']=[tuple(x) for x in subset.to_numpy()]
#del stay_point_df['coord']

In [15]:
#求每點間隔時間
stay_point_df_d=stay_point_df

stay_point_df_d['delta_time']=0

stay_point_df_d.head()

localFormat = "%Y-%m-%d %H:%M:%S"
for user in list(set(stay_point_df_d['user'])):    
    for i in stay_point_df_d[stay_point_df_d['user']==user].index[1:]:
                    #設定每個點時間，加總每個點時間
                    #total_time+=time_delta
                    deltatime=datetime.strptime(stay_point_df_d.loc[i,'time'],localFormat)-datetime.strptime(stay_point_df_d.loc[i-1,'time'],localFormat)
                    minutesdelta=(deltatime.seconds)/60
                    if minutesdelta<15:
                        stay_point_df_d.loc[i,'delta_time']=minutesdelta
                        #print(stay_point_df_d.loc[i,'delta_time'])

In [16]:
stay_point_df_d.to_excel(r'./stay_point_df_complete.xlsx',encoding='utf=16')

## 求stay_point 開始及結束時間，group成1組_4

In [17]:
#求stay_point 開始及結束時間


stay_point_df_complete=pd.read_excel(r'./stay_point_df_complete4.xlsx',encoding='utf-16',index_col=0)
stay_point_group_df_time=stay_point_df_complete[['user','date','time','stay_point_coord']]
group_df=stay_point_group_df_time.groupby(['user','date','stay_point_coord'])
list(group_df)
group_df.agg([np.min,np.max])
#
localFormat = "%Y-%m-%d %H:%M:%S"
groupby_time=group_df.agg([np.min,np.max])
groupby_time.columns

tmp=[]
for x,n in zip(groupby_time['time']['amax'].values,groupby_time['time']['amin'].values):
    deltatime=(datetime.strptime(x,localFormat)-datetime.strptime(n,localFormat)).seconds/60
    tmp.append(deltatime)

groupby_time['duration']=pd.Series(tmp).values

In [ ]:
groupby_time.to_excel(r'./group_time.xlsx',encoding='utf-16')

In [ ]:
#求兩stay_point中間 最大速度及開始結束時間

In [6]:
#求起訖時間
stay_point_group_df_time=stay_point_df_complete[['user','date','time','stay_point_coord']]
group_df=stay_point_group_df_time.groupby(['user','date','stay_point_coord'])
list(group_df)
group_df.agg([np.min,np.max])

                                                                        time  \
                                                                        amin
user  date       stay_point_coord
user1 2019-11-26 (0.0, 0.0)                              2019-11-26 16:44:00
                 (24.95123293461539, 121.5527319884615)  2019-11-26 21:18:17
                 (25.0420301197541, 121.5318861763114)   2019-11-26 17:14:53
                 (25.04349100095238, 121.5326256890476)  2019-11-26 19:41:29
      2019-11-28 (0.0, 0.0)                              2019-11-28 18:31:31
      2019-12-06 (0.0, 0.0)                              2019-12-06 20:06:42
                 (24.67489107, 121.7704191553846)        2019-12-06 21:09:14
                 (24.6758851996875, 121.768344229375)    2019-12-06 21:28:57
                 (24.6773619152381, 121.7710231332234)   2019-12-06 22:17:32
                 (24.67737572222222, 121.7710075388889)  2019-12-06 20:22:12
                 (24.6784706, 121.7707810588235)         2019-12-06 20:45:19
      2019-12-07 (0.0, 0.0)                              2019-12-07 13:22:46
                 (24.6773619152381, 121.7710231332234)   2019-12-07 00:00:44
user2 2019-11-30 (0.0, 0.0)                              2019-11-30 11:14:49
                 (25.05279420846153, 121.546710233077)   2019-11-30 17:19:45
                 (25.05280191666667, 121.54428395)       2019-11-30 13:30:29
                 (25.05280249375, 121.544260675)         2019-11-30 17:44:10
                 (25.05280527, 121.5442672911111)        2019-11-30 11:26:55
                 (25.0536779, 121.547662)                2019-11-30 15:13:34
                 (25.0537584, 121.5477461)               2019-11-30 16:28:49
      2019-12-06 (0.0, 0.0)                              2019-12-06 08:04:20
                 (25.0496129, 121.37488)                 2019-12-06 09:18:13
                 (25.050077925, 121.37560130625)         2019-12-06 11:58:22
                 (25.05081852125, 121.3744898641666)     2019-12-06 14:50:40
                 (25.05082983818182, 121.3744881509091)  2019-12-06 16:01:26
                 (25.05083111, 121.3744936606141)        2019-12-06 09:19:24
                 (25.05083348057692, 121.3744970475961)  2019-12-06 12:40:13
                 (25.05083499444444, 121.3744953462963)  2019-12-06 08:05:55
user3 2019-12-02 (0.0, 0.0)                              2019-12-02 19:32:31
                 (25.04235834232283, 121.5785223655512)  2019-12-02 19:33:37
...                                                                      ...
user7 2019-11-27 (24.96409703928571, 121.1927717378571)  2019-11-27 05:00:54
                 (24.96410330615385, 121.1927429851282)  2019-11-27 07:25:58
                 (24.96415156430379, 121.1928223844304)  2019-11-27 01:22:37
                 (24.96416655461538, 121.1928489761538)  2019-11-27 10:00:07
                 (24.9641742, 121.192758)                2019-11-27 12:29:13
                 (24.9642245275, 121.1926372075)         2019-11-27 07:01:16
                 (24.9642528, 121.1929226)               2019-11-27 23:13:27
                 (24.96780865, 121.1917346)              2019-11-27 14:48:03
                 (24.9678255, 121.1917589)               2019-11-27 18:06:03
      2019-11-29 (0.0, 0.0)                              2019-11-29 10:44:37
                 (24.96773219166667, 121.1918529066667)  2019-11-29 16:33:40
                 (24.96778933333333, 121.1915949333333)  2019-11-29 13:09:31
                 (24.967798375, 121.191621975)           2019-11-29 10:53:25
                 (24.9677999, 121.1917276)               2019-11-29 12:32:43
                 (24.9678336, 121.19181905)              2019-11-29 15:03:44
                 (25.042284822, 121.578467646)           2019-11-29 22:02:54
                 (25.0423506, 121.5785174)               2019-11-29 22:33:07
                 (25.0443608, 121.5132168)               2019-11-29 20:52:50
                 (25.0477789, 121.5178991)               2019-11-29 18:00:29
                 (25.0490591, 121.51810645)              2019-11-29 18:12:28
                 (25.04906046, 121.51843098)             2019-11-29 18:54:33
      2019-11-30 (0.0, 0.0)                              2019-11-30 12:09:17
      2019-12-01 (0.0, 0.0)                              2019-12-01 11:57:56
                 (24.95324818, 121.55353132)             2019-12-01 19:06:40
                 (25.051889575, 121.544596925)           2019-12-01 13:34:50
                 (25.055897165, 121.5422276816667)       2019-12-01 12:00:02
                 (25.08318037375, 121.528532175)         2019-12-01 17:19:13
                 (25.083721425, 121.528782115)           2019-12-01 16:47:37
                 (25.090131962, 121.536297066)           2019-12-01 16:04:10
      2019-12-04 (0.0, 0.0)                              2019-12-04 21:44:29


                                                                        amax
user  date       stay_point_coord
user1 2019-11-26 (0.0, 0.0)                              2019-11-26 21:16:31
                 (24.95123293461539, 121.5527319884615)  2019-11-26 21:47:43
                 (25.0420301197541, 121.5318861763114)   2019-11-26 19:39:05
                 (25.04349100095238, 121.5326256890476)  2019-11-26 20:06:49
      2019-11-28 (0.0, 0.0)                              2019-11-28 18:31:31
      2019-12-06 (0.0, 0.0)                              2019-12-06 22:16:30
                 (24.67489107, 121.7704191553846)        2019-12-06 21:24:07
                 (24.6758851996875, 121.768344229375)    2019-12-06 22:04:46
                 (24.6773619152381, 121.7710231332234)   2019-12-06 23:59:16
                 (24.67737572222222, 121.7710075388889)  2019-12-06 20:42:01
                 (24.6784706, 121.7707810588235)         2019-12-06 21:03:04
      2019-12-07 (0.0, 0.0)                              2019-12-07 14:38:05
                 (24.6773619152381, 121.7710231332234)   2019-12-07 13:16:47
user2 2019-11-30 (0.0, 0.0)                              2019-11-30 17:42:25
                 (25.05279420846153, 121.546710233077)   2019-11-30 17:36:11
                 (25.05280191666667, 121.54428395)       2019-11-30 13:44:29
                 (25.05280249375, 121.544260675)         2019-11-30 18:04:12
                 (25.05280527, 121.5442672911111)        2019-11-30 13:28:48
                 (25.0536779, 121.547662)                2019-11-30 15:13:34
                 (25.0537584, 121.5477461)               2019-11-30 16:28:59
      2019-12-06 (0.0, 0.0)                              2019-12-06 23:50:55
                 (25.0496129, 121.37488)                 2019-12-06 09:18:13
                 (25.050077925, 121.37560130625)         2019-12-06 12:37:24
                 (25.05081852125, 121.3744898641666)     2019-12-06 15:48:31
                 (25.05082983818182, 121.3744881509091)  2019-12-06 17:10:46
                 (25.05083111, 121.3744936606141)        2019-12-06 11:55:20
                 (25.05083348057692, 121.3744970475961)  2019-12-06 14:48:03
                 (25.05083499444444, 121.3744953462963)  2019-12-06 09:15:21
user3 2019-12-02 (0.0, 0.0)                              2019-12-02 19:32:31
                 (25.04235834232283, 121.5785223655512)  2019-12-02 23:58:25
...                                                                      ...
user7 2019-11-27 (24.96409703928571, 121.1927717378571)  2019-11-27 05:51:11
                 (24.96410330615385, 121.1927429851282)  2019-11-27 09:26:30
                 (24.96415156430379, 121.1928223844304)  2019-11-27 04:58:41
                 (24.96416655461538, 121.1928489761538)  2019-11-27 10:44:12
                 (24.9641742, 121.192758)                2019-11-27 12:29:13
                 (24.9642245275, 121.1926372075)         2019-11-27 07:05:54
                 (24.9642528, 121.1929226)               2019-11-27 23:13:27
                 (24.96780865, 121.1917346)              2019-11-27 15:00:03
                 (24.9678255, 121.1917589)               2019-11-27 18:06:03
      2019-11-29 (0.0, 0.0)                              2019-11-29 22:31:42
                 (24.96773219166667, 121.1918529066667)  2019-11-29 16:59:11
                 (24.96778933333333, 121.1915949333333)  2019-11-29 13:12:42
                 (24.967798375, 121.191621975)           2019-11-29 10:58:01
                 (24.9677999, 121.1917276)               2019-11-29 12:33:44
                 (24.9678336, 121.19181905)              2019-11-29 15:04:46
                 (25.042284822, 121.578467646)           2019-11-29 22:12:47
                 (25.0423506, 121.5785174)               2019-11-29 22:33:07
                 (25.0443608, 121.5132168)               2019-11-29 20:52:50
                 (25.0477789, 121.5178991)               2019-11-29 18:04:09
                 (25.0490591, 121.51810645)              2019-11-29 18:20:49
                 (25.04906046, 121.51843098)             2019-11-29 19:13:24
      2019-11-30 (0.0, 0.0)                              2019-11-30 22:15:49
      2019-12-01 (0.0, 0.0)                              2019-12-01 18:52:50
                 (24.95324818, 121.55353132)             2019-12-01 19:06:40
                 (25.051889575, 121.544596925)           2019-12-01 13:35:54
                 (25.055897165, 121.5422276816667)       2019-12-01 12:22:44
                 (25.08318037375, 121.528532175)         2019-12-01 17:32:51
                 (25.083721425, 121.528782115)           2019-12-01 16:57:48
                 (25.090131962, 121.536297066)           2019-12-01 16:24:04
      2019-12-04 (0.0, 0.0)                              2019-12-04 21:44:29

[227 rows x 2 columns]

In [2]:
groupby_time=pd.read_excel(r'./group_time.xlsx',encoding='utf-16')

In [7]:
#
localFormat = "%Y-%m-%d %H:%M:%S"
groupby_time=group_df.agg([np.min,np.max])
groupby_time.columns
#deltatime=datetime.strptime(groupby_time['time']['amax'].values,localFormat)-datetime.strptime(groupby_time['time']['amin'].values,localFormat)
#print(deltatime)
#minutesdelta=(deltatime.seconds)/60
tmp=[]
for x,n in zip(groupby_time['time']['amax'].values,groupby_time['time']['amin'].values):
    deltatime=(datetime.strptime(x,localFormat)-datetime.strptime(n,localFormat)).seconds/60
    tmp.append(deltatime)

groupby_time['duration']=pd.Series(tmp).values
    #groupby_time.loc[i,'duration']=
#-groupby_time['time']['amin']
#groupby_time['duration']=groupby_time['duration']

In [8]:

#.append(pd.Series(tmp),ignore_index=True)
#pd.Series(tmp)
#groupby_time.sort_values(by=['amin'])

In [85]:
stay_point_df_d=stay_point_df

# 求每點時間

In [65]:
groupby_time.to_excel(r'./group_time.xlsx',encoding='utf-16')

In [22]:
groupby_time

                                                                        time  \
                                                                        amin
user  date       stay_point_coord
user1 2019-11-26 (0.0, 0.0)                              2019-11-26 16:44:00
                 (24.95123293461539, 121.5527319884615)  2019-11-26 21:18:17
                 (25.0420301197541, 121.5318861763114)   2019-11-26 17:14:53
                 (25.04349100095238, 121.5326256890476)  2019-11-26 19:41:29
      2019-11-28 (0.0, 0.0)                              2019-11-28 18:31:31
      2019-12-06 (0.0, 0.0)                              2019-12-06 20:06:42
                 (24.67489107, 121.7704191553846)        2019-12-06 21:09:14
                 (24.6758851996875, 121.768344229375)    2019-12-06 21:28:57
                 (24.6773619152381, 121.7710231332234)   2019-12-06 22:17:32
                 (24.67737572222222, 121.7710075388889)  2019-12-06 20:22:12
                 (24.6784706, 121.7707810588235)         2019-12-06 20:45:19
      2019-12-07 (0.0, 0.0)                              2019-12-07 13:22:46
                 (24.6773619152381, 121.7710231332234)   2019-12-07 00:00:44
user2 2019-11-30 (0.0, 0.0)                              2019-11-30 11:14:49
                 (25.05279420846153, 121.546710233077)   2019-11-30 17:19:45
                 (25.05280191666667, 121.54428395)       2019-11-30 13:30:29
                 (25.05280249375, 121.544260675)         2019-11-30 17:44:10
                 (25.05280527, 121.5442672911111)        2019-11-30 11:26:55
                 (25.0536779, 121.547662)                2019-11-30 15:13:34
                 (25.0537584, 121.5477461)               2019-11-30 16:28:49
      2019-12-06 (0.0, 0.0)                              2019-12-06 08:04:20
                 (25.0496129, 121.37488)                 2019-12-06 09:18:13
                 (25.050077925, 121.37560130625)         2019-12-06 11:58:22
                 (25.05081852125, 121.3744898641666)     2019-12-06 14:50:40
                 (25.05082983818182, 121.3744881509091)  2019-12-06 16:01:26
                 (25.05083111, 121.3744936606141)        2019-12-06 09:19:24
                 (25.05083348057692, 121.3744970475961)  2019-12-06 12:40:13
                 (25.05083499444444, 121.3744953462963)  2019-12-06 08:05:55
user3 2019-12-02 (0.0, 0.0)                              2019-12-02 19:32:31
                 (25.04235834232283, 121.5785223655512)  2019-12-02 19:33:37
...                                                                      ...
user7 2019-11-27 (24.96409703928571, 121.1927717378571)  2019-11-27 05:00:54
                 (24.96410330615385, 121.1927429851282)  2019-11-27 07:25:58
                 (24.96415156430379, 121.1928223844304)  2019-11-27 01:22:37
                 (24.96416655461538, 121.1928489761538)  2019-11-27 10:00:07
                 (24.9641742, 121.192758)                2019-11-27 12:29:13
                 (24.9642245275, 121.1926372075)         2019-11-27 07:01:16
                 (24.9642528, 121.1929226)               2019-11-27 23:13:27
                 (24.96780865, 121.1917346)              2019-11-27 14:48:03
                 (24.9678255, 121.1917589)               2019-11-27 18:06:03
      2019-11-29 (0.0, 0.0)                              2019-11-29 10:44:37
                 (24.96773219166667, 121.1918529066667)  2019-11-29 16:33:40
                 (24.96778933333333, 121.1915949333333)  2019-11-29 13:09:31
                 (24.967798375, 121.191621975)           2019-11-29 10:53:25
                 (24.9677999, 121.1917276)               2019-11-29 12:32:43
                 (24.9678336, 121.19181905)              2019-11-29 15:03:44
                 (25.042284822, 121.578467646)           2019-11-29 22:02:54
                 (25.0423506, 121.5785174)               2019-11-29 22:33:07
                 (25.0443608, 121.5132168)               2019-11-29 20:52:50
                 (25.0477789, 121.5178991)               2019-11-29 18:00:29
                 (25.0490591, 121.51810645)              2019-11-29 18:12:28
                 (25.04906046, 121.51843098)             2019-11-29 18:54:33
      2019-11-30 (0.0, 0.0)                              2019-11-30 12:09:17
      2019-12-01 (0.0, 0.0)                              2019-12-01 11:57:56
                 (24.95324818, 121.55353132)             2019-12-01 19:06:40
                 (25.051889575, 121.544596925)           2019-12-01 13:34:50
                 (25.055897165, 121.5422276816667)       2019-12-01 12:00:02
                 (25.08318037375, 121.528532175)         2019-12-01 17:19:13
                 (25.083721425, 121.528782115)           2019-12-01 16:47:37
                 (25.090131962, 121.536297066)           2019-12-01 16:04:10
      2019-12-04 (0.0, 0.0)                              2019-12-04 21:44:29

                                                                              \
                                                                        amax
user  date       stay_point_coord
user1 2019-11-26 (0.0, 0.0)                              2019-11-26 21:16:31
                 (24.95123293461539, 121.5527319884615)  2019-11-26 21:47:43
                 (25.0420301197541, 121.5318861763114)   2019-11-26 19:39:05
                 (25.04349100095238, 121.5326256890476)  2019-11-26 20:06:49
      2019-11-28 (0.0, 0.0)                              2019-11-28 18:31:31
      2019-12-06 (0.0, 0.0)                              2019-12-06 22:16:30
                 (24.67489107, 121.7704191553846)        2019-12-06 21:24:07
                 (24.6758851996875, 121.768344229375)    2019-12-06 22:04:46
                 (24.6773619152381, 121.7710231332234)   2019-12-06 23:59:16
                 (24.67737572222222, 121.7710075388889)  2019-12-06 20:42:01
                 (24.6784706, 121.7707810588235)         2019-12-06 21:03:04
      2019-12-07 (0.0, 0.0)                              2019-12-07 14:38:05
                 (24.6773619152381, 121.7710231332234)   2019-12-07 13:16:47
user2 2019-11-30 (0.0, 0.0)                              2019-11-30 17:42:25
                 (25.05279420846153, 121.546710233077)   2019-11-30 17:36:11
                 (25.05280191666667, 121.54428395)       2019-11-30 13:44:29
                 (25.05280249375, 121.544260675)         2019-11-30 18:04:12
                 (25.05280527, 121.5442672911111)        2019-11-30 13:28:48
                 (25.0536779, 121.547662)                2019-11-30 15:13:34
                 (25.0537584, 121.5477461)               2019-11-30 16:28:59
      2019-12-06 (0.0, 0.0)                              2019-12-06 23:50:55
                 (25.0496129, 121.37488)                 2019-12-06 09:18:13
                 (25.050077925, 121.37560130625)         2019-12-06 12:37:24
                 (25.05081852125, 121.3744898641666)     2019-12-06 15:48:31
                 (25.05082983818182, 121.3744881509091)  2019-12-06 17:10:46
                 (25.05083111, 121.3744936606141)        2019-12-06 11:55:20
                 (25.05083348057692, 121.3744970475961)  2019-12-06 14:48:03
                 (25.05083499444444, 121.3744953462963)  2019-12-06 09:15:21
user3 2019-12-02 (0.0, 0.0)                              2019-12-02 19:32:31
                 (25.04235834232283, 121.5785223655512)  2019-12-02 23:58:25
...                                                                      ...
user7 2019-11-27 (24.96409703928571, 121.1927717378571)  2019-11-27 05:51:11
                 (24.96410330615385, 121.1927429851282)  2019-11-27 09:26:30
                 (24.96415156430379, 121.1928223844304)  2019-11-27 04:58:41
                 (24.96416655461538, 121.1928489761538)  2019-11-27 10:44:12
                 (24.9641742, 121.192758)                2019-11-27 12:29:13
                 (24.9642245275, 121.1926372075)         2019-11-27 07:05:54
                 (24.9642528, 121.1929226)               2019-11-27 23:13:27
                 (24.96780865, 121.1917346)              2019-11-27 15:00:03
                 (24.9678255, 121.1917589)               2019-11-27 18:06:03
      2019-11-29 (0.0, 0.0)                              2019-11-29 22:31:42
                 (24.96773219166667, 121.1918529066667)  2019-11-29 16:59:11
                 (24.96778933333333, 121.1915949333333)  2019-11-29 13:12:42
                 (24.967798375, 121.191621975)           2019-11-29 10:58:01
                 (24.9677999, 121.1917276)               2019-11-29 12:33:44
                 (24.9678336, 121.19181905)              2019-11-29 15:04:46
                 (25.042284822, 121.578467646)           2019-11-29 22:12:47
                 (25.0423506, 121.5785174)               2019-11-29 22:33:07
                 (25.0443608, 121.5132168)               2019-11-29 20:52:50
                 (25.0477789, 121.5178991)               2019-11-29 18:04:09
                 (25.0490591, 121.51810645)              2019-11-29 18:20:49
                 (25.04906046, 121.51843098)             2019-11-29 19:13:24
      2019-11-30 (0.0, 0.0)                              2019-11-30 22:15:49
      2019-12-01 (0.0, 0.0)                              2019-12-01 18:52:50
                 (24.95324818, 121.55353132)             2019-12-01 19:06:40
                 (25.051889575, 121.544596925)           2019-12-01 13:35:54
                 (25.055897165, 121.5422276816667)       2019-12-01 12:22:44
                 (25.08318037375, 121.528532175)         2019-12-01 17:32:51
                 (25.083721425, 121.528782115)           2019-12-01 16:57:48
                 (25.090131962, 121.536297066)           2019-12-01 16:24:04
      2019-12-04 (0.0, 0.0)                              2019-12-04 21:44:29

                                                           duration

user  date       stay_point_coord
user1 2019-11-26 (0.0, 0.0)                              272.516667
                 (24.95123293461539, 121.5527319884615)   29.433333
                 (25.0420301197541, 121.5318861763114)   144.200000
                 (25.04349100095238, 121.5326256890476)   25.333333
      2019-11-28 (0.0, 0.0)                                0.000000
      2019-12-06 (0.0, 0.0)                              129.800000
                 (24.67489107, 121.7704191553846)         14.883333
                 (24.6758851996875, 121.768344229375)     35.816667
                 (24.6773619152381, 121.7710231332234)   101.733333
                 (24.67737572222222, 121.7710075388889)   19.816667
                 (24.6784706, 121.7707810588235)          17.750000
      2019-12-07 (0.0, 0.0)                               75.316667
                 (24.6773619152381, 121.7710231332234)   796.050000
user2 2019-11-30 (0.0, 0.0)                              387.600000
                 (25.05279420846153, 121.546710233077)    16.433333
                 (25.05280191666667, 121.54428395)        14.000000
                 (25.05280249375, 121.544260675)          20.033333
                 (25.05280527, 121.5442672911111)        121.883333
                 (25.0536779, 121.547662)                  0.000000
                 (25.0537584, 121.5477461)                 0.166667
      2019-12-06 (0.0, 0.0)                              946.583333
                 (25.0496129, 121.37488)                   0.000000
                 (25.050077925, 121.37560130625)          39.033333
                 (25.05081852125, 121.3744898641666)      57.850000
                 (25.05082983818182, 121.3744881509091)   69.333333
                 (25.05083111, 121.3744936606141)        155.933333
                 (25.05083348057692, 121.3744970475961)  127.833333
                 (25.05083499444444, 121.3744953462963)   69.433333
user3 2019-12-02 (0.0, 0.0)                                0.000000
                 (25.04235834232283, 121.5785223655512)  264.800000
...                                                             ...
user7 2019-11-27 (24.96409703928571, 121.1927717378571)   50.283333
                 (24.96410330615385, 121.1927429851282)  120.533333
                 (24.96415156430379, 121.1928223844304)  216.066667
                 (24.96416655461538, 121.1928489761538)   44.083333
                 (24.9641742, 121.192758)                  0.000000
                 (24.9642245275, 121.1926372075)           4.633333
                 (24.9642528, 121.1929226)                 0.000000
                 (24.96780865, 121.1917346)               12.000000
                 (24.9678255, 121.1917589)                 0.000000
      2019-11-29 (0.0, 0.0)                              707.083333
                 (24.96773219166667, 121.1918529066667)   25.516667
                 (24.96778933333333, 121.1915949333333)    3.183333
                 (24.967798375, 121.191621975)             4.600000
                 (24.9677999, 121.1917276)                 1.016667
                 (24.9678336, 121.19181905)                1.033333
                 (25.042284822, 121.578467646)             9.883333
                 (25.0423506, 121.5785174)                 0.000000
                 (25.0443608, 121.5132168)                 0.000000
                 (25.0477789, 121.5178991)                 3.666667
                 (25.0490591, 121.51810645)                8.350000
                 (25.04906046, 121.51843098)              18.850000
      2019-11-30 (0.0, 0.0)                              606.533333
      2019-12-01 (0.0, 0.0)                              414.900000
                 (24.95324818, 121.55353132)               0.000000
                 (25.051889575, 121.544596925)             1.066667
                 (25.055897165, 121.5422276816667)        22.700000
                 (25.08318037375, 121.528532175)          13.633333
                 (25.083721425, 121.528782115)            10.183333
                 (25.090131962, 121.536297066)            19.900000
      2019-12-04 (0.0, 0.0)                                0.000000

[227 rows x 3 columns]

# 相鄰stay_point距離小於50m合併_5

In [ ]:
user_stay_point_daily=pd.read_excel(r'./user_stay_point_daily5.xlsx',encoding='utf-16')
#調整stay_point位置
#若下個staypoint距離前個<30m  視同同一個staypoint
for u in set(user_stay_point_daily['user']):
    date_set=set(user_stay_point_daily[user_stay_point_daily['user']==u]['date'])
    user_index=user_stay_point_daily[user_stay_point_daily['user']==u].index
    user_df=user_stay_point_daily.loc[user_index]
    for d in date_set:
        user_date_index=user_df[user_df['date']==d].index
        for i in user_date_index:
            if i+1 in user_date_index:
                now=eval(user_stay_point_daily.loc[i,'stay_point_coord'])
                nextp=eval(user_stay_point_daily.loc[i+1,'stay_point_coord'])
                dist=geodesic(now,nextp).kilometers
                if dist<0.05:
                    user_stay_point_daily.loc[i+1,'stay_point_coord']=user_stay_point_daily.loc[i,'stay_point_coord']
    #for d in date_set:
       
       #user_stay_point_daily[user_stay_point_daily['user']==u and user_stay_point_daily['date']==d]
user_stay_point_daily

In [ ]:
#groupby 開始時間及duration
user_stay_point_adjust=user_stay_point_daily
adjust_group=user_stay_point_adjust.groupby(['user','date','stay_point_coord']).agg({'start':'min',
                                                                       'end':'max',
                                                                       'duration':'sum'})

#break multiindex###########
adjust_group.reset_index(inplace=True)
#組內依starttime排序
adjust_group_2=adjust_group.groupby(['user','date']).apply(lambda x:x.sort_values('start'))

In [ ]:
adjust_group_2.to_excel(r'./stay_point_nearbygroup.xlsx',encoding='utf-16')

In [4]:
adjust_group=pd.read_excel(r'./stay_point_nearbygroup.xlsx',encoding='utf-16')

,user,date,stay_point_coord,start,end,duration
0,user1,2019-11-26,"(25.052463, 121.604865)",2019-11-26 13:18:17,2019-11-26 16:30:43,190.433333
1,user1,2019-11-26,"(25.0420301197541, 121.5318861763114)",2019-11-26 17:14:53,2019-11-26 19:39:05,144.200000
2,user1,2019-11-26,"(25.04349100095238, 121.5326256890476)",2019-11-26 19:41:29,2019-11-26 20:06:49,25.333333
3,user1,2019-11-26,"(24.95123293461539, 121.5527319884615)",2019-11-26 21:18:17,2019-11-26 21:47:43,29.433333
4,user1,2019-12-06,"(24.67737572222222, 121.7710075388889)",2019-12-06 20:22:12,2019-12-06 20:42:01,19.816667
5,user1,2019-12-06,"(24.6784706, 121.7707810588235)",2019-12-06 20:45:19,2019-12-06 21:03:04,17.750000
6,user1,2019-12-06,"(24.67489107, 121.7704191553846)",2019-12-06 21:09:14,2019-12-06 21:24:07,14.883333
7,user1,2019-12-06,"(24.6758851996875, 121.768344229375)",2019-12-06 21:28:57,2019-12-06 22:04:46,35.816667
8,user1,2019-12-06,"(24.6773619152381, 121.7710231332234)",2019-12-06 22:17:32,2019-12-07 13:16:47,897.783333
9,user2,2019-11-30,"(25.05280527, 121.5442672911111)",2019-11-30 11:26:55,2019-11-30 13:44:29,135.883333
10,user2,2019-11-30,"(25.0537584, 121.5477461)",2019-11-30 16:28:49,2019-11-30 16:28:59,0.166667
11,user2,2019-11-30,"(25.05279420846153, 121.546710233077)",2019-11-30 17:19:45,2019-11-30 17:36:11,16.433333
12,user2,2019-11-30,"(25.05280249375, 121.544260675)",2019-11-30 17:44:10,2019-11-30 18:04:12,20.033333
13,user2,2019-12-06,"(25.05083499444444, 121.3744953462963)",2019-12-06 08:05:55,2019-12-06 11:55:20,225.366667
14,user2,2019-12-06,"(25.050077925, 121.37560130625)",2019-12-06 11:58:22,2019-12-06 12:37:24,39.033333
15,user2,2019-12-06,"(25.05083348057692, 121.3744970475961)",2019-12-06 12:40:13,2019-12-06 17:10:46,255.016667
16,user3,2019-12-03,"(25.04235834232283, 121.5785223655512)",2019-12-03 00:00:01,2019-12-03 07:48:16,101.933333
17,user3,2019-12-03,"(25.03220703612567, 121.5131532293194)",2019-12-03 08:20:34,2019-12-03 18:10:53,570.833333
18,user3,2019-12-03,"(25.01389336089888, 121.5295568895505)",2019-12-03 18:53:58,2019-12-03 20:50:34,116.600000
19,user3,2019-12-03,"(25.04234940229007, 121.5785162160306)",2019-12-03 21:48:45,2019-12-03 23:58:45,130.000000
20,user3,2019-12-04,"(25.04234940229007, 121.5785162160306)",2019-12-04 00:00:22,2019-12-04 06:58:12,62.800000
21,user3,2019-12-06,"(25.04234929235295, 121.5785129975818)",2019-12-06 21:30:02,2019-12-06 23:59:01,148.983333
22,user3,2019-12-07,"(25.04234929235295, 121.5785129975818)",2019-12-07 00:00:03,2019-12-07 08:41:57,112.550000
23,user3,2019-12-07,"(25.04093474387097, 121.5795745254839)",2019-12-07 08:46:59,2019-12-07 09:24:26,37.450000
24,user3,2019-12-07,"(25.04234966605042, 121.5785227033614)",2019-12-07 09:39:52,2019-12-07 22:27:27,725.550000
25,user3,2019-12-08,"(25.04235902500001, 121.5784931958334)",2019-12-08 07:01:49,2019-12-08 07:46:50,45.016667
26,user4,2019-11-30,"(25.04237084242426, 121.5785562045455)",2019-11-30 00:50:11,2019-11-30 23:59:29,980.150000
27,user4,2019-12-01,"(25.04234305125476, 121.5785325277567)",2019-12-01 00:01:04,2019-12-01 12:34:04,315.583333
28,user4,2019-12-01,"(25.0283117575, 121.5663684525)",2019-12-01 12:58:04,2019-12-01 13:16:10,18.100000
29,user4,2019-12-01,"(25.04236906285714, 121.5785576257142)",2019-12-01 13:34:05,2019-12-01 23:58:14,585.233333
...,...,...,...,...,...,...
77,user6,2019-11-30,"(25.04233498418919, 121.5785307699325)",2019-11-30 09:11:00,2019-11-30 12:20:44,189.733333
78,user6,2019-11-30,"(25.0404061916, 121.5755582)",2019-11-30 12:26:59,2019-11-30 12:56:57,29.966667
79,user6,2019-11-30,"(25.04233348022523, 121.5785278921622)",2019-11-30 13:01:04,2019-11-30 23:59:29,644.516667
80,user6,2019-12-01,"(25.04234289137379, 121.5785304383387)",2019-12-01 00:00:30,2019-12-01 12:36:12,349.766667
81,user6,2019-12-01,"(25.028132325, 121.565777675)",2019-12-01 12:54:07,2019-12-01 13:12:07,18.000000
82,user6,2019-12-01,"(25.04234275909091, 121.5785388409091)",2019-12-01 13:30:08,2019-12-01 23:56:29,559.533333
83,user6,2019-12-02,"(25.04234184702701, 121.5785047816216)",2019-12-02 00:02:08,2019-12-02 11:43:36,387.583333
84,user6,2019-12-02,"(25.028136625, 121.5657266)",2019-12-02 12:01:37,2019-12-02 12:19:37,18.000000
85,user6,2019-12-02,"(25.04234111564706, 121.5785360758823)",2019-12-02 12:43:37,2019-12-02 23:54:57,630.433333
86,user6,2019-12-03,"(25.04233559027026, 121.5785272799999)",2019-12-03 00:00:57,2019-12-03 00:18:58,18.016667
87,user7,2019-11-25,"(24.964163975, 121.192772425)",2019-11-25 00:24:31,2019-11-25 00:39:14,14.716667
88,user7,2019-11-25,"(24.96781735, 121.19170875)",2019-11-25 09:19:15,2019-11-25 09:20:17,1.033333
89,user7,2019-11-25,"(24.96410055230769, 121.1906380446154)",2019-11-25 12:14:48,2019-11-25 12:45:07,30.316667
90,user7,2019-11-25,"(24.9676468, 121.1915304)",2019-11-25 13:34:10,2019-11-25 13:37:18,3.133333
91,user7,2019-11-25,"(25.04232555, 121.57857215)",2019-11-25 19:14:48,2019-11-25 19:16:51,2.050000
92,user7,2019-11-26,"(25.052575, 121.604871)",2019-11-26 13:30:17,2019-11-26 16:30:43,180.433333
93,user7,2019-11-26,"(25.0420673275, 121.53170521)",2019-11-26 17:50:28,2019-11-26 19:33:56,68.716667
94,user7,2019-11-26,"(24.96415972727273, 121.1928207272727)",2019-11-26 21:37:42,2019-11-26 23:25:36,76.383333
95,user7,2019-11-27,"(24.96404929428572, 121.1928279457143)",2019-11-27 00:53:46,2019-11-27 10:44:12,532.450000
96,user7,2019-11-27,"(24.96395006, 121.215458)",2019-11-27 10:55:58,2019-11-27 11:21:59,26.016667
97,user7,2019-11-27,"(24.96780865, 121.1917346)",2019-11-27 14:48:03,2019-11-27 15:00:03,12.000000
98,user7,2019-11-29,"(24.967798375, 121.191621975)",2019-11-29 10:53:25,2019-11-29 16:59:11,35.350000
99,user7,2019-11-29,"(25.0477789, 121.5178991)",2019-11-29 18:00:29,2019-11-29 18:04:09,3.666667
100,user7,2019-11-29,"(25.0490591, 121.51810645)",2019-11-29 18:12:28,2019-11-29 19:13:24,27.200000
101,user7,2019-11-29,"(25.042284822, 121.578467646)",2019-11-29 22:02:54,2019-11-29 22:12:47,9.883333
102,user7,2019-12-01,"(25.055897165, 121.5422276816667)",2019-12-01 12:00:02,2019-12-01 12:22:44,22.700000
103,user7,2019-12-01,"(25.051889575, 121.544596925)",2019-12-01 13:34:50,2019-12-01 13:35:54,1.066667
104,user7,2019-12-01,"(25.090131962, 121.536297066)",2019-12-01 16:04:10,2019-12-01 16:24:04,19.900000
105,user7,2019-12-01,"(25.083721425, 121.528782115)",2019-12-01 16:47:37,2019-12-01 16:57:48,10.183333
106,user7,2019-12-01,"(25.08318037375, 121.528532175)",2019-12-01 17:19:13,2019-12-01 17:32:51,13.633333

In [10]:
#調整duration時間
localFormat = "%Y-%m-%d %H:%M:%S"
for i in adjust_group.index:
    start=adjust_group.loc[i,'start']
    end=adjust_group.loc[i,'end']
    deltatime=(datetime.strptime(str(end),localFormat)-datetime.strptime(str(start),localFormat)).seconds/60
    adjust_group.loc[i,'duration']=deltatime
adjust_group

,user,date,stay_point_coord,start,end,duration
0,user1,2019-11-26,"(25.052463, 121.604865)",2019-11-26 13:18:17,2019-11-26 16:30:43,192.433333
1,user1,2019-11-26,"(25.0420301197541, 121.5318861763114)",2019-11-26 17:14:53,2019-11-26 19:39:05,144.200000
2,user1,2019-11-26,"(25.04349100095238, 121.5326256890476)",2019-11-26 19:41:29,2019-11-26 20:06:49,25.333333
3,user1,2019-11-26,"(24.95123293461539, 121.5527319884615)",2019-11-26 21:18:17,2019-11-26 21:47:43,29.433333
4,user1,2019-12-06,"(24.67737572222222, 121.7710075388889)",2019-12-06 20:22:12,2019-12-06 20:42:01,19.816667
5,user1,2019-12-06,"(24.6784706, 121.7707810588235)",2019-12-06 20:45:19,2019-12-06 21:03:04,17.750000
6,user1,2019-12-06,"(24.67489107, 121.7704191553846)",2019-12-06 21:09:14,2019-12-06 21:24:07,14.883333
7,user1,2019-12-06,"(24.6758851996875, 121.768344229375)",2019-12-06 21:28:57,2019-12-06 22:04:46,35.816667
8,user1,2019-12-06,"(24.6773619152381, 121.7710231332234)",2019-12-06 22:17:32,2019-12-07 13:16:47,899.250000
9,user2,2019-11-30,"(25.05280527, 121.5442672911111)",2019-11-30 11:26:55,2019-11-30 13:44:29,137.566667
10,user2,2019-11-30,"(25.0537584, 121.5477461)",2019-11-30 16:28:49,2019-11-30 16:28:59,0.166667
11,user2,2019-11-30,"(25.05279420846153, 121.546710233077)",2019-11-30 17:19:45,2019-11-30 17:36:11,16.433333
12,user2,2019-11-30,"(25.05280249375, 121.544260675)",2019-11-30 17:44:10,2019-11-30 18:04:12,20.033333
13,user2,2019-12-06,"(25.05083499444444, 121.3744953462963)",2019-12-06 08:05:55,2019-12-06 11:55:20,229.416667
14,user2,2019-12-06,"(25.050077925, 121.37560130625)",2019-12-06 11:58:22,2019-12-06 12:37:24,39.033333
15,user2,2019-12-06,"(25.05083348057692, 121.3744970475961)",2019-12-06 12:40:13,2019-12-06 17:10:46,270.550000
16,user3,2019-12-03,"(25.04235834232283, 121.5785223655512)",2019-12-03 00:00:01,2019-12-03 07:48:16,468.250000
17,user3,2019-12-03,"(25.03220703612567, 121.5131532293194)",2019-12-03 08:20:34,2019-12-03 18:10:53,590.316667
18,user3,2019-12-03,"(25.01389336089888, 121.5295568895505)",2019-12-03 18:53:58,2019-12-03 20:50:34,116.600000
19,user3,2019-12-03,"(25.04234940229007, 121.5785162160306)",2019-12-03 21:48:45,2019-12-03 23:58:45,130.000000
20,user3,2019-12-04,"(25.04234940229007, 121.5785162160306)",2019-12-04 00:00:22,2019-12-04 06:58:12,417.833333
21,user3,2019-12-06,"(25.04234929235295, 121.5785129975818)",2019-12-06 21:30:02,2019-12-06 23:59:01,148.983333
22,user3,2019-12-07,"(25.04234929235295, 121.5785129975818)",2019-12-07 00:00:03,2019-12-07 08:41:57,521.900000
23,user3,2019-12-07,"(25.04093474387097, 121.5795745254839)",2019-12-07 08:46:59,2019-12-07 09:24:26,37.450000
24,user3,2019-12-07,"(25.04234966605042, 121.5785227033614)",2019-12-07 09:39:52,2019-12-07 22:27:27,767.583333
25,user3,2019-12-08,"(25.04235902500001, 121.5784931958334)",2019-12-08 07:01:49,2019-12-08 07:46:50,45.016667
26,user4,2019-11-30,"(25.04237084242426, 121.5785562045455)",2019-11-30 00:50:11,2019-11-30 23:59:29,1389.300000
27,user4,2019-12-01,"(25.04234305125476, 121.5785325277567)",2019-12-01 00:01:04,2019-12-01 12:34:04,753.000000
28,user4,2019-12-01,"(25.0283117575, 121.5663684525)",2019-12-01 12:58:04,2019-12-01 13:16:10,18.100000
29,user4,2019-12-01,"(25.04236906285714, 121.5785576257142)",2019-12-01 13:34:05,2019-12-01 23:58:14,624.150000
...,...,...,...,...,...,...
77,user6,2019-11-30,"(25.04233498418919, 121.5785307699325)",2019-11-30 09:11:00,2019-11-30 12:20:44,189.733333
78,user6,2019-11-30,"(25.0404061916, 121.5755582)",2019-11-30 12:26:59,2019-11-30 12:56:57,29.966667
79,user6,2019-11-30,"(25.04233348022523, 121.5785278921622)",2019-11-30 13:01:04,2019-11-30 23:59:29,658.416667
80,user6,2019-12-01,"(25.04234289137379, 121.5785304383387)",2019-12-01 00:00:30,2019-12-01 12:36:12,755.700000
81,user6,2019-12-01,"(25.028132325, 121.565777675)",2019-12-01 12:54:07,2019-12-01 13:12:07,18.000000
82,user6,2019-12-01,"(25.04234275909091, 121.5785388409091)",2019-12-01 13:30:08,2019-12-01 23:56:29,626.350000
83,user6,2019-12-02,"(25.04234184702701, 121.5785047816216)",2019-12-02 00:02:08,2019-12-02 11:43:36,701.466667
84,user6,2019-12-02,"(25.028136625, 121.5657266)",2019-12-02 12:01:37,2019-12-02 12:19:37,18.000000
85,user6,2019-12-02,"(25.04234111564706, 121.5785360758823)",2019-12-02 12:43:37,2019-12-02 23:54:57,671.333333
86,user6,2019-12-03,"(25.04233559027026, 121.5785272799999)",2019-12-03 00:00:57,2019-12-03 00:18:58,18.016667
87,user7,2019-11-25,"(24.964163975, 121.192772425)",2019-11-25 00:24:31,2019-11-25 00:39:14,14.716667
88,user7,2019-11-25,"(24.96781735, 121.19170875)",2019-11-25 09:19:15,2019-11-25 09:20:17,1.033333
89,user7,2019-11-25,"(24.96410055230769, 121.1906380446154)",2019-11-25 12:14:48,2019-11-25 12:45:07,30.316667
90,user7,2019-11-25,"(24.9676468, 121.1915304)",2019-11-25 13:34:10,2019-11-25 13:37:18,3.133333
91,user7,2019-11-25,"(25.04232555, 121.57857215)",2019-11-25 19:14:48,2019-11-25 19:16:51,2.050000
92,user7,2019-11-26,"(25.052575, 121.604871)",2019-11-26 13:30:17,2019-11-26 16:30:43,180.433333
93,user7,2019-11-26,"(25.0420673275, 121.53170521)",2019-11-26 17:50:28,2019-11-26 19:33:56,103.466667
94,user7,2019-11-26,"(24.96415972727273, 121.1928207272727)",2019-11-26 21:37:42,2019-11-26 23:25:36,107.900000
95,user7,2019-11-27,"(24.96404929428572, 121.1928279457143)",2019-11-27 00:53:46,2019-11-27 10:44:12,590.433333
96,user7,2019-11-27,"(24.96395006, 121.215458)",2019-11-27 10:55:58,2019-11-27 11:21:59,26.016667
97,user7,2019-11-27,"(24.96780865, 121.1917346)",2019-11-27 14:48:03,2019-11-27 15:00:03,12.000000
98,user7,2019-11-29,"(24.967798375, 121.191621975)",2019-11-29 10:53:25,2019-11-29 16:59:11,365.766667
99,user7,2019-11-29,"(25.0477789, 121.5178991)",2019-11-29 18:00:29,2019-11-29 18:04:09,3.666667
100,user7,2019-11-29,"(25.0490591, 121.51810645)",2019-11-29 18:12:28,2019-11-29 19:13:24,60.933333
101,user7,2019-11-29,"(25.042284822, 121.578467646)",2019-11-29 22:02:54,2019-11-29 22:12:47,9.883333
102,user7,2019-12-01,"(25.055897165, 121.5422276816667)",2019-12-01 12:00:02,2019-12-01 12:22:44,22.700000
103,user7,2019-12-01,"(25.051889575, 121.544596925)",2019-12-01 13:34:50,2019-12-01 13:35:54,1.066667
104,user7,2019-12-01,"(25.090131962, 121.536297066)",2019-12-01 16:04:10,2019-12-01 16:24:04,19.900000
105,user7,2019-12-01,"(25.083721425, 121.528782115)",2019-12-01 16:47:37,2019-12-01 16:57:48,10.183333
106,user7,2019-12-01,"(25.08318037375, 121.528532175)",2019-12-01 17:19:13,2019-12-01 17:32:51,13.633333

In [11]:
adjust_group.to_excel(r'./user_stay_point_final.xlsx',encoding='utf-16')

In [ ]:
# #求速度

# for user 
# for i in index
# speed_list=[]
# if stay_point ==(0,0) and point_speed>0:
#     #df.loc[i,'end_time']=df.loc[i,'time']
#     speed_list.append(df.loc[i,'point_speed'])    
# else:
#     if speed_list:
#         df.loc[i]['move_max_speed']=max(speed_list)
#         df.loc[i,'start_time']=df.loc[i,'time']
#         speed_list=[]